body {
	padding-top: 2%;
	padding-left: 5%;
	padding-bottom: 3%;
	padding-right: 40%;
}
h1 {
	font-family: Roboto, Verdana, sans-serif;
	font-size: 24px;
}
h3 {
	font-family: Roboto, Verdana, sans-serif;
	font-size: 20px;
}
li {
	font-family: Roboto, Verdana, sans-serif;
	font-size: 18px;
}
a + a {
	margin-top: 5px;
}
p {
	font-family: Roboto, Verdana, sans-serif;
	font-size: 18px;
	text-align: justify;
}	
.navbar {
	width: 100px;
	position: fixed;
	text-align: right;
}
.navlink {
	font-family: Roboto, Verdana, sans-serif;
	font-size: 16px;
	display: inline-block;
	width: 100%;	
	text-decoration: none;	
}
.navlink:link {
	text-decoration: none;
	color: inherit;
}
.navlink:visited {
	text-decoration: none;
	color: inherit;	
}
.navlink:hover {
	background-color: #ed857b;
	text-decoration: none; 
}
.navlink:active {
	text-decoration: none; 
}
.navhead {
	font-family: Roboto, Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
}
.main {
	margin-left: 160px;
}

